body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.section-work {
  padding-bottom: 94px;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}
/*---------header-----*/
.header {
  background-color: #ffffff;
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ECECEC;
}
.header-logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
  margin-right: 93px;
}

.logo {
  color: #000000;
}

.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-navigation {
  display: flex;
  align-items: center;
}

.header-bottom-list {
  display: flex;
  margin-left: 344px;
  gap: 50px;
}

.header-list {
  display: flex;
  gap: 50px;
}

.header-link:hover {
  color: #2196f3;
}
.header-link:focus {
  color: #2196F3;
}

.header-mail {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
}

.header-mail:hover {
color: #2196F3;
}
.header-mail:focus {
  color: #2196F3;
}

.header-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
}

.header-tel:hover {
  color: #2196F3;
  }
.header-tel:focus {
  color: #2196F3;
}  
/*---------section1-----*/

.hero {
  background-color: #2f303a;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  max-width: 696px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.hero-btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  min-width: 216px;
  height: 50px;
  margin: 0 auto;
  justify-content: center;
  border: none;
  border-radius: 4px;
}

.hero-button {
  padding-right: 492px;
  padding-left: 492px;
}

.hero-btn {
  background-color: #2196F3;
}
.hero-btn:hover {
  background-color: #188ce8;
}
.hero-btn:focus {
  background-color: #2196F3;
}
/*---------section2-----*/
.about-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  margin-bottom: 10px;
}

.about-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.about-text {
  width: 270;
  height: 72;
}

.about-list {
  display: flex;
  gap: 30px;
}

.about-item-1 {
  flex-basis: calc((100% - 90px) / 4);
}
.about-item-2 {
  flex-basis: calc((100% - 90px) / 4);
}
.about-item-3 {
  flex-basis: calc((100% - 90px) / 4);
}
.about-item-4 {
  flex-basis: calc((100% - 90px) / 4);
}

/*---------section2-----*/

.work-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
}

.work-list {
  display: flex;
  justify-content: center;
  gap: 30px;
}

/*---------section3-----*/
.team {
  background-color:#F5F4FA ;
}
.team-link {
  background-color: #ffffff;
}

.team-img {
  margin-bottom: 30px;
}


.team-top-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
}

.team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 10px;
}

.team-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
  padding-bottom: 30px;
}

.team-list {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-basis: calc((100% - 90px) / 4);
}

/*---------footer-----*/

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-logo {
  color: #ffffff;
}

.footer-item {
  margin-bottom: 9px;
}

.footer-link {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
  display: inline-block;
  margin-bottom: 20px;
}

.footer-map {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.footer-mail {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-tel {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

/*---------------PORTFOLIO---------------*/

.portfolio-btn {
    font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.62;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
}
.portfolio-btn {
  background-color: #F5F4FA;
  border: none;
  padding: 6px 22px;
  border-radius: 4px;
}

.portfolio-btn:hover {
    color: #ffffff;
    background-color: #2196F3;
}

.portfolio-list {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 50px;
}

.menu-title {
font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
color: #212121;
}

.menu-text {
    font-weight: 400;
font-size: 16px;
line-height: 30px;
letter-spacing: 0.03em;
color: #757575;
}

.menu-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  flex-basis: calc((100% - 60px) / 3);
}

.menu-link {
    background-color: #EEEEEE;
}

.menu-item {
  padding: 20px 24px;
  border: 1px solid #EEEEEE;
  border-top: none;
}

.footer-address {
  font-style: normal;
}

.footer-map:hover {
  color: #2196F3;
}

.footer-map:focus {
  color: #2196F3;
}

.footer-mail:hover {
  color: #2196F3;
}
.footer-mail:focus {
  color: #2196F3;
}
.footer-tel:hover {
  color: #2196F3;
}
.footer-tel:focus {
  color: #2196F3;
}


p,h1,h2,h3,h4,h5,h6 {
  margin: 0;
}

ul,ol {
  margin: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

img {
  display: block;
}